/* background is blue */
.background {
    background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
  }
  .background td {
    padding: 0;
  }
  .lava {
    background-color: rgb(255, 100, 100);
  }
  .wall {
    background-color: white;
  }
  /* this one for the player */
  /* let's focus on the grid for the moment */
  .actor {
    position: absolute;
  }
  .coin {
    background-color: rgb(241, 229, 89);
  }
  .monster{
    background-color: purple;
  }
  .player {
    background-color: rgb(64, 64, 64);
  }
  .lost .player {
      background-color: rgb(160, 64, 64);
  }
  .won .player {
      box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  }
  .game {
      overflow: hidden;
      max-width: 600px;
      max-height: 450px;
      position: relative;
  }